fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding: 1px !important;
    color: white;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

legend {
    padding: 1px 10px !important;
    float: none;
    width: auto;
    text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 70px #bc13fe,
            0 0 80px #bc13fe;
}