:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #e84545;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #1a1a1a;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

*{
  cursor: url('./assets/icons/pointer (3).png') 15 10, auto;
}

input, textarea,.form-check-input, .form-control[type=file]:not(:disabled):not([readonly]), button, [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: url('./assets/icons/click (2).png') 15 15, auto;
}

input:active, textarea:active,.form-check-input:active, .form-control[type=file]:not(:disabled):not([readonly]):active, button:active,[type=button]:not(:disabled):active, [type=reset]:not(:disabled):active, [type=submit]:not(:disabled):active, button:not(:disabled):active {
  cursor: url('./assets/icons/click2 (2).png') 15 15, auto;
}